.footer {
    background: #19191a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: auto;
    position: absolute;
    width: 100%;
    gap: 10px;
    font-size: 1.3em;
    font-family: "Open Sans", sans-serif;
    z-index: 999;
}

.page-icon {
    height: 30px;
    width: 30px;
}